body {
  font-family: Arial;
  background: #f2f2f2;
}

.container {
  width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
}

input {
  padding: 8px;
  margin: 5px 0;
  width: 70%;
}

button {
  padding: 6px 10px;
  margin-left: 5px;
}

.student {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
